-- MySQL dump 9.11
--
-- Host: localhost    Database: simpledatatest
-- ------------------------------------------------------
-- Server version	4.0.26-nt

--
-- Table structure for table `customers`
--

CREATE TABLE customers (
  CustomerId int(11) NOT NULL auto_increment,
  Name varchar(255) default NULL,
  Address varchar(255) default NULL,
  PRIMARY KEY  (CustomerId)
) TYPE=MyISAM;

--
-- Dumping data for table `customers`
--

INSERT INTO customers VALUES (1,'Alice','1, Street');

--
-- Table structure for table `items`
--

CREATE TABLE items (
  ItemId int(11) NOT NULL auto_increment,
  Name varchar(255) default NULL,
  Price decimal(10,2) default NULL,
  PRIMARY KEY  (ItemId)
) TYPE=MyISAM;

--
-- Dumping data for table `items`
--

INSERT INTO items VALUES (1,'Widget','9.99');
INSERT INTO items VALUES (2,'Flange','1.00');

--
-- Table structure for table `orderitems`
--

CREATE TABLE orderitems (
  OrderItemId int(11) NOT NULL auto_increment,
  OrderId int(11) default NULL,
  ItemId int(11) default NULL,
  Quantity int(11) default NULL,
  PRIMARY KEY  (OrderItemId)
) TYPE=MyISAM;

--
-- Dumping data for table `orderitems`
--

INSERT INTO orderitems VALUES (1,1,1,1);
INSERT INTO orderitems VALUES (2,1,2,2);

--
-- Table structure for table `orders`
--

CREATE TABLE orders (
  OrderId int(11) NOT NULL auto_increment,
  OrderDate datetime default NULL,
  CustomerId int(11) default NULL,
  PRIMARY KEY  (OrderId)
) TYPE=MyISAM;

--
-- Dumping data for table `orders`
--

INSERT INTO orders VALUES (1,'2010-08-11 00:00:00',1);

--
-- Table structure for table `users`
--

CREATE TABLE users (
  Id int(11) NOT NULL auto_increment,
  Name varchar(255) default NULL,
  Password varchar(255) default NULL,
  Age int(11) default NULL,
  PRIMARY KEY  (Id)
) TYPE=MyISAM;

--
-- Dumping data for table `users`
--

INSERT INTO users VALUES (1,'Bob','Secret',42);
INSERT INTO users VALUES (2,'Steve','Squirrel',69);
INSERT INTO users VALUES (3,'Dave','Password',12);

