obj
bin
deploy
*.csproj.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
