<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simple.Data.Ado" version="0.6.1" requireReinstallation="True" />
  <package id="Simple.Data.Core" version="0.6.1" requireReinstallation="True" />
  <package id="Simple.Data.SqlCompact40" version="0.6.1" requireReinstallation="True" />
</packages>