<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple.Data.SqlTest.Properties.Settings.ConnectionString"
            connectionString="Data Source=.;Initial Catalog=SimpleTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>