<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
  <add name="Simple.Data.SqlTest.Properties.Settings.ConnectionString"
        connectionString="Data Source=SQL2008;Initial Catalog=SimpleTest;User ID=SimpleUser;Password=SimplePassword"
        providerName="System.Data.SqlClient" />
  <add name="Test"
        connectionString="Data Source=SQL2008;Initial Catalog=SimpleTest;User ID=SimpleUser;Password=SimplePassword"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>