<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProfilingApp.Properties.Settings.ConnectionString"
      connectionString="Data Source=.;Initial Catalog=SimpleDataProfiling;Integrated Security=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>