<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="simpleData">
      <section name="simpleDataConfiguration" type="Simple.Data.SimpleDataConfigurationSection, Simple.Data"/>
    </sectionGroup>
  </configSections>
  <simpleData>
    <simpleDataConfiguration traceLevel="Error"/>
  </simpleData>
</configuration>